GOOGLE_API_KEY=your_google_api_key_here
CV_URL=https://drive.google.com/uc?export=download&id=your_cv_file_id
LINKEDIN_URL=https://www.linkedin.com/in/syachrulqolbi/
PERSONA_NAME=Syachrul Qolbi Nur Septi
MAX_TURNS=8
CONTACT_EMAIL=syachrulqolbinursepti@gmail.com
CONTACT_CITY=Sydney, Australia
CONTACT_WEBSITE=https://www.sqnsportfolio.com
CONTACT_LINKEDIN=https://www.linkedin.com/in/syachrulqolbi/
CONTACT_GITHUB=https://github.com/syachrulqolbi
